# === Django ===
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# === I18N ===
LANGUAGE_CODE=ru
TIME_ZONE=Europe/Amsterdam

# === Postgres ===
POSTGRES_DB=Mediscan_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# === SMTP ===
SMTP_BACKEND=django.core.mail.backends.smtp.EmailBackend
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=True
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-smtp-password

# === Default Admin ===
DJANGO_DEFAULT_ADMIN_EMAIL=superadmin@example.com
DJANGO_DEFAULT_ADMIN_PASSWORD=your-admin-password

TELEGRAM_BOT_TOKEN=8424405225:AAFte3r7IUDMLeAkZmc20g1U_WvAvifR1Fo
TELEGRAM_BOT_USERNAME=Alex1173_Habit_bot
TELEGRAM_API_URL=https://api.telegram.org
TELEGRAM_CHAT_ID=8424405225
TELEGRAM_ADMIN_CHAT_ID=5138741753

# CORS: разрешённые origin'ы фронтенда (через запятую)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://frontend.example.com

# если фронт использует cookie/sessions — включить credentials (для Token не нужно)
CORS_ALLOW_CREDENTIALS=False

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
EDIS_SERVER_EXE=D:\dev\redis\redis-server.exe
REDIS_CONF=

DEFAULT_FROM_EMAIL=you email
CONTACTS_ADMIN_EMAIL=you admin email
YMAPS_API_KEY=you Yandex maps API key

SMS_RU_API_ID=you SMS_RU API ID
SMS_SENDER=MEDISCAN


